# dependencies
/node_modules

# next.js
/.next
next-env.d.ts

# misc
.DS_Store
*.pem

# local env files
.env.local
.env

# vercel
.vercel

# supabase
/supabase/.branches
/supabase/.temp
/supabase/.env
